<!DOCTYPE html>
<html>
  <head>
    <title>TweetSampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-wrapper">
      <div class="top-logo">
        <a class="toLogo" href="/">Tweet App</a>
      </div>
      <ul>
        <li>
  
        </li>
        <li>

        </li>
        <li>

        </li>

      </ul>
    </header>
    <%= yield %>
  </body>
</html>
