<!DOCTYPE html>
<html>
  <head>
    <title>TweetSampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-wrapper">
      <div class="top-logo">
        <a class="toLogo" href="/posts/index">Tweet App</a>
      </div>
      <ul class="select-option">
        <li>
          <a href="/posts/new" class="option">新規投稿</a>
        </li>
        <li>
          <a href="#" class="option">ログアウト</a>
        </li>
        <li>
          <a href="#" class="option">ログイン</a>
        </li>

      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="alert alert-warning" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
